body {
    margin: 0;
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}
.login-container h1 {
    text-align: center;
}
.login-container {
    width: 300px;
    padding: 20px;
    border: 2px solid rgb(red, green, blue);
    border-radius: 15px;
    background-color: blue;
    background: #fff;
    box-shadow: 3px 3px 10px rgba(0,0,0,0,2);
    text-align: center;
}